numpy==1.26.4
opencv-python==4.5.4.60
Pillow==9.0.1
tensorflow==2.17.0
easyocr==1.6.2
streamlit==1.43.2
matplotlib==3.9.4
scikit-learn==1.0.2
seaborn==0.13.2
pandas==2.2.2
indic-nlp-library==0.81
symspellpy==6.7.7
transformers==4.41.1
googletrans==4.0.0rc1
kymatio==0.4.9
python-Levenshtein==0.23.0
